@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
  background-image: url('./assets/marioBg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#root,
.App {
  height: 100%;
}
